---
layout: page
title: "Files"
description: "Files download"
---

{% for file in paginator.files %}
<div class="file-preview">
    <a href="{{ file.url | prepend: site.baseurl }}">
        <h2 class="file-title">
            {{ file.title }}
        </h2>
        {% if file.subtitle %}
        <h3 class="file-subtitle">
            {{ file.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="file-meta">
        Posted by {% if file.author %}{{ file.author }}{% else %}{{ site.title }}{% endif %} on {{ file.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}
